h1{
   text-align: center; 
   color: rgb(195, 248, 70);
   padding: 2rem;
   margin: auto;
   text-decoration: underline;
   background: linear-gradient(to right, red, yellow)
}
/* input */

.input-icon{
    margin-top: 2rem;
    width: 100%;
}

.input-field{
    padding-left: 2.7rem;
    font-style: italic;
}

.add{
    position: absolute;
    font-size: 1.3rem;
    /*margin-left: 66.5%;
    */padding: 3px;
    transition: all 1.2s ease;
    border: none;
    background-color: transparent;
    -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:;
}
.add:hover{
    background-color: rgba(0, 128, 0, 0.672);
    cursor:pointer;
    padding: 4px 5px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.icon:active{
    color: black;
    background-color: white;
    transition: all 0.5 ease;
}


/* TodoItem */
.complete-btn{
    background-color: aquamarine;
    border: none;
}
.complete-btn:hover{
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.2, 1.2);
}

.delete-btn{
    background-color: orangered;
    border: none;
}

.delete-btn:hover{
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.2, 1.2);
}

.completed{
    text-decoration: line-through;
    opacity: 0.6;
    font-style: italic;
}